<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
</head>
<body>
<h1 th:text="'List of patients : '">Patients</h1>


<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">ID</th>
        <th style="width: 150px;">First Name</th>
        <th style="width: 150px;">Last Name</th>
        <th style="width: 150px;">Phone Number</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="patient : ${patients}">
        <td th:text="${patient.getId()}">123456</td>
        <td th:text="${patient.getFirstName()}"></td>
        <td th:text="${patient.getLastName()}"></td>
        <td th:text="${patient.getPhoneNumber()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>